[POSTGRESQL]
host = 127.0.0.1
port = 5432
user = lpaste
pass = lpaste
db = lpaste

[ANNOUNCE]
user = yourdomain
pass = yourpass
host = 127.0.0.1
port = 6667

[WEB]
domain = yourdomain.org
cache = /tmp/lpaste-cache

[DEV]
commits = https://github.com/chrisdone/lpaste/commits/master.atom
repo_url = https://github.com/chrisdone/lpaste

[IRC]
log_dir = irc_logs

[ADDRESSES]
admin = email@yourdomain.com
site_addy = noreply@yourdomain.org

[ADMIN]
key = myadminpass
